<?xml  version="1.0" encoding="UTF-8"?>

<plugin  xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.junruihealthcare.CameraPlugin"
    version="0.0.1">
    <name>CameraPlugin</name>
    <description>Camera  Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Camera</keywords>
    
    
    <js-module src="www/JRcamera.js"  name="JRcamera">
        <clobbers target="JRcamera"  />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="JRcamera">
                <param  name="ios-package"  value="com.junruihealthcare.JRCamera.JRcamera"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/JRCamera.m" />
        <header-file src="src/ios/JRCamera.h" />
        <source-file src="src/ios/WYCaptureController.m" />
        <header-file src="src/ios/WYCaptureController.h" />
        <source-file src="src/ios/WYTopImgBtn.m" />
        <header-file src="src/ios/WYTopImgBtn.h" />
        <source-file src="src/ios/WYVideoCaptureController.m" />
        <header-file src="src/ios/WYVideoCaptureController.h" />
        <source-file src="src/ios/WYVideoTimeView.m" />
        <header-file src="src/ios/WYVideoTimeView.h" />
        <source-file src="src/ios/LX_layoutAttributes.m" />
        <header-file src="src/ios/LX_layoutAttributes.h" />
        <source-file src="src/ios/NSTimer+Addtion.m" />
        <header-file src="src/ios/NSTimer+Addtion.h" />
        <source-file src="src/ios/ProgressView.m" />
        <header-file src="src/ios/ProgressView.h" />
        <source-file src="src/ios/UIView+AutoLayoutViews.m" />
        <header-file src="src/ios/UIView+AutoLayoutViews.h" />
        <source-file src="src/ios/UIView+Extension.m" />
        <header-file src="src/ios/UIView+Extension.h" />
    </platform>
    
</plugin>


